* {
    padding : 0;
    margin : 0;
}

.container{
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: lightgray;
    border-radius: 15px;

}
nav{
    padding : 20px;
    background-color: cyan;
    
}

nav div{
    
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

/* nav div a {
    padding: 15px;
    text-decoration: none;
    background-color: lightgreen;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} */

nav div a {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
nav div a:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
nav div a:active {
	position:relative;
	top:1px;
}


form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

input {
    padding : 5px;
}

/* button {
    padding : 10px;
    margin-bottom : 15px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

} */

button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    margin-top: 15px;
    margin-bottom : 20px;
}
button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}


.friends-list{
    display: flex;
    flex-direction : column;
    align-items: center;
}

h2{
    padding: 5px;
    margin: 5px;
}

.friend{
    padding: 5px;
    margin: 10px;
    width : 80%;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
